@charset "utf-8";

* {padding: 0px; margin: 0px;}

#header {background-color: darkgreen;
height: 120px;}

#header > h1 {color: white; padding-top: 20px; padding-left: 20px;}

#header > p {color: white; padding-left: 20px;}

.scrollbar {background-color: rgb(250, 228, 29); height: 40px;}

li > a {background-color: crimson; height: 46px; width: 20px;
    padding: 10px; margin-left: 3px; text-decoration: none;}

ul {display: flex; list-style: none; padding: 12px; padding-left: 900px;}


